_build/*
external/*
RTE/*
integration/*
modules/*

components/802_15_4/*
components/ant/*
components/ble/*
components/boards/*
components/drivers_ext/*
components/drivers_nrf/*
components/libraries/*
components/nfc/*
components/proprietary_rf/*
components/serialization/*
components/softdevice/*
components/toolchain/arm/*
components/toolchain/cmsis/*
components/toolchain/gcc/*
components/toolchain/iar/*
components/sdk_validation.h

!components/toolchain/gcc/Makefile.windows